
REPRO_NAME=reprozip-static
REPRO_DOCKER_ORG=cirss
REPRO_IMAGE_TAG=latest
REPRO_CODE=build
REPRO_DOCKER_OPTIONS=

# Define target aliases available both inside and outside a running REPRO
build: build-code       ## Build a statically-linked binary for ReproZip.
clean: clean-code       ## Delete all built artifacts.

# Define target aliases available only outside a running REPRO
ifndef IN_RUNNING_REPRO
start: start-image      ## Start a container using this REPRO's Docker image.
image: build-image      ## Build the Docker image used to run this REPRO.
endif
